.navbar-inverse{
    background-color:#000000;
    height:50px;
    margin:1px;
    font-size:1.2em;
    font-family:"Agency FB";
}

.navbar-brand{
    font-size:1.2em;
    font-weight:bold;
    font-family: Anton;
}
.dropdown-menu{
    background-color:#000000;
    height:115px;
    padding: 2%;
    font-size:1.2em;
}

.jumbotron{

        text-align:center;
}